
@import "tailwindcss";


.heading{
  color: red;
  font-weight: bold;
  font-size: 28px;
  font-style: italic;
  padding: 4px;
  padding-bottom: 10px;

}

.cross{
  font-weight: bold;
  font-size: 28px;
}

.chat{

  height: 90vh;
  background-color: rgba(255, 255, 255, 0.603);
  padding: 10px;
  color:white;
}

.bing{
  z-index: 1000;
}

/* App.css */
.chat::-webkit-scrollbar {
  width: 4px;
}

.chat::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 100%;
}

.chat::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.chat::-webkit-scrollbar-thumb:hover {
  background: #555;
}


.cross{
  font-size: 24px;
}

.user{
  border: 2px solid white;
  border-radius: 10px;
  font-size: 16px;
  padding: 4px;
  /* padding-left: 8px; */
  align-self: flex-end;
  max-width:250px;
}

.youbee{
  border: 2px solid white;
  border-radius: 10px;
  font-size: 16px;
  padding: 4px;
  /* padding-right: ; */
  align-self: flex-start;
  max-width: 250px;
}